.container {
    margin-left: 2rem;
    margin-top: 3rem;
}

.buttonOrganizar {
    background-color: #598392;
    margin-top: 1rem;
}


.form > div > small {
    font-size: small;
    color: #AEC3B0

}


.invalidConferences > h3 {
    color: #AEC3B0
}
.invalidConferences > div > p>span {
    color: #598392
}
